@import "/src/variables.scss";

.assetsContent {
  background-color: $text-white-color;
  height: calc(100vh - 85px);
  border: 8px solid $background-gray;
  padding: 10px;

  &__boxes {
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 15px;
  }
}
