@import "../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-header;
  padding: 0 15px;
  align-items: center;
  color: $text-white-color;
  height: 48px;
  img {
    height: 14px;
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }
}
