@import "/src/variables.scss";

.assetsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
  span {
    color: $secondary-text-gray-color;
  }

  &-buttons {
    display: flex;
    gap: 10px;
  }
}
