$primary-header: #17192d;
$background-gray: #d8dfe6;
$border-color: #d8dfe6;
$text-white-color: #ffffff;
$primary-text-gray-color: #88929c;
$secondary-text-gray-color: #77818c;
$button-secondary-color: #2188ff;
$text-black-secondary-color: #24292f;
$placeholder-gray-color: #c1c9d2;
